@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
    <!-- header -->
}

    @* -- Body / Content -- *@
    <h2>HTML 5 Boilerplated Content</h2>
    <p>Controllers/HomeController.cs => Views/Home/Index.cshtml</p>

@section footer {
    <!-- footer -->
}

@section script {
    @* -- Add jQuery intellisense -- *@
    @if (false) {<script type="text/javascript" src="../../Scripts/jquery-1.5.1-vsdoc.js"></script> }

    <script type="text/javascript">
        // page script
    </script>
}

